* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 7vh;
  background-color: #ddd;
}

header {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

#header-img {
  min-width: calc(734px - 30%);
  max-height: 100%;
}

.fill {
  flex: 1;
}

#logo-container {
  display: flex;
  align-self: flex-end;
  gap: 2vw;
}

header p {
  align-self: flex-end;
  margin-bottom: 0.625rem;
  color: #5b5b5b;
  text-wrap: nowrap;
}

header #logo {
  max-height: 12vh;
  border: 6px solid #1b8a9f;
}

@media only screen and (max-width: 1110px) {
  #header-img {
    overflow: hidden;
  }

  header .fill {
    flex: 0;
  }

  #logo-container {
    margin-left: auto;
    margin-right: 4vw;
  }

  header p {
    font-size: 0.9rem;
  }

  header #logo {
    width: 25vw;
    max-width: fit-content;
    border-width: 5px;
  }
}

main {
  flex: 1;
  align-self: center;
  width: 85%;
  padding: 1rem;
  border-radius: 10px;
  background-image: linear-gradient(#fdfdfd, #e4e5e5);
}

.bold {
  font-weight: 700;
}

.red {
  color: #f00;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem;
  gap: 1vw;
}

legend {
  padding: 0.25rem;
  font-size: 0.7rem;
}

label {
  font-size: 0.9rem;
}

input[type=text], select {
  padding: 0.5rem;
  border: 1px solid #c4c0b9;
  background-image: linear-gradient(#f1eee9, #fdfdfd);
}

input[type=submit] {
  padding: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #197f9e;
  color: #fff;
}

footer {
  display: flex;
  align-items: flex-end;
  width: 100vw;
  margin-top: auto;
  overflow: hidden;
}

footer div {
  height: 30px;
  background-color: #1fafdd;
}

footer img {
  min-width: calc(734px - 20%);
  max-height: 100%;
}
