<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/styles.css">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <title>Login</title>
    
</head>

<body>
    <header class="cabecalho">
        <div class="cabecalho__logo">
            <img src="static/images/logo.png">
        </div>
    </header>
    <main class="principal">
        <div class="principal__login">
                <label class="principal__login__label" for="login">Entrar com CPF ou CNPJ:</label>
                <input class="principal__login__input" type="text">
                <button class="principal__login__botao" onclick="window.location.href='verification-2FT'">ENTRAR</button>
                <p class="principal__login__texto">Não consegue acessar? <a href="verify-email" class="principal__login__ancora">Clique aqui.</a></p>
            </div>
        </div>
    </main>
    <div class="espaco__vazio"></div>
    <footer class="rodape">
        <div class="rodape__espacovazio"></div>
        <div class="rodape__static/images1">
            <img src="static/images/seguro.png"><img src="static/images/norton.png">
        </div>
        
        <div class="rodape__static/images2">
            <p class="rodape__static/images2__texto">Em que posso ajudar?</p>
            <img src="static/images/ajuda.png">
        </div>
    </footer>
</body>
</html>