<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/styles/styles.css">
    <title>Verificação de Identidade</title>
</head>

<body>
    
    <header class="cabecalho">
        
        <div>
            <a href="/"><img class="retorno" src="static/images/retorno.png" alt=""></a>
        </div>
        
        <div class="cabecalho__logo">
            <img src="static/images/logo.png">
        </div>
        
    </header>

    <main class="principal">
        <div class="principal__login verificacao-login">
                <h4 class="principal__login__label">Para sua segurança, escolha a forma de obter o código de acesso:</h4>
                
                <p class="principal__login__texto">*Parte dos dados estão ocultos para sua segurança</p>
                
                <form action="">
                    <div class="div-borde">
                        <input type="radio" class="caixa-selecao" name="escolha-user" value="contato-1" id="opção-1">
                        <label for="opção-1" class="texto-edit">79 *****0042</label>
                    </div>
                    
                    <div class="div-borde">
                        <input type="radio" class="caixa-selecao"  name="escolha-user" value="contato-2" id="opção-2">
                        <label for="opção-2" class="texto-edit">79 *****2715</label>
                    </div>
                    
                    <div class="div-borde">
                        <input type="radio" class="caixa-selecao"  name="escolha-user" value="email" id="opção-3">
                        <label for="opção-3" class="texto-edit">contato.emp*@gmail.com</label>
                        
                    </div>
                </form>
                <button class="principal__login__botao" onclick="window.location.href='verify-cellphone'">AVANÇAR</button>
                <p class="principal__login__texto">Não tem acesso a nenhum desses meios? <a href="verify-email" class="principal__login__ancora">Clique aqui.</a></p>
            </div>
        </div>
    </main>
    <div class="espaco__vazio"></div>
    <footer class="rodape">
        <div class="rodape__espacovazio"></div>
        <div class="rodape__static/imagens1">
            <img src="static/images/seguro.png"><img src="static/images/norton.png">
        </div>
        <!--Botão???-->
        <div class="rodape__static/imagens2">
            <p class="rodape__static/imagens2__texto">Em que posso ajudar?</p>
            <img src="static/images/ajuda.png">
        </div>
    </footer>
</body>
</html>