@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
  --background-color: #f4f4f4;
  --accent-background-color: #fff;
  --header-background-color: #1f629d;
  --anchor-font-color: #0b99c9;
  --border-color: #a6a6a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

p {
  font-size: 0.875rem;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
}

.anchor {
  color: var(--anchor-font-color);
  font-weight: 600;
  text-wrap: nowrap;
  cursor: pointer;
}

.hide {
  visibility: hidden;
}

.semibold {
  font-weight: 600;
}

@media screen and (max-width: 720px) {
  :root {
    font-size: 14px;
  }
}
