.floatCard {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 360px;
  margin-top: -8vh;
  margin-bottom: 4vh;
  padding: 4vh 3vw;
  border-radius: 0.5rem;
  gap: 2vh;
  background-color: var(--accent-background-color);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875rem;
}

.floatCard form {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.floatCard input[type=text] {
  padding: 2vh 1vw;
  border: 1px solid #a6a6a6;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}

.floatCard .radio {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-border-color);
  border-radius: 0.25rem;
  padding: 2vh 2vw;
  gap: 2vw;
  overflow-x: auto;
  font-size: 1rem;
}

.floatCard .radio input, .floatCard .radio label {
  cursor: pointer;
}

.floatCard input[type=radio] {
  width: 1.5rem;
  height: 1.5rem;
  appearance: none;
  border: 1px solid var(--dark-border-color);
  border-radius: 100%;
  padding: 3px;
  transition: 0.2s linear;
}

.floatCard input[type=radio]:checked {
  background-clip: content-box;
  background-color: var(--dark-border-color);
}

.floatCard .pin-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5vw;
}

.floatCard .pin-input {
  width: 100%;
  aspect-ratio: 1;
  border: 1px solid var(--light-border-color);
  font-size: 1.75rem;
  font-weight: 300;
  text-align: center;
  appearance: none;
  -moz-appearance: textfield;
}

.floatCard .pin-input::-webkit-outer-spin-button,
.floatCard .pin-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.floatCard input[type=submit] {
  padding: 2vh 0;
  border: 0.125rem solid #a6a6a6;
  border-radius: 1.25rem;
  background-color: #0b99c9;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}

.floatCard #info {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.floatCard .icon-button {
  border: 1px solid var(--dark-border-color);
  border-radius: 0.25rem;
  padding: 2vh 0;
  position: relative;
  background-color: transparent;
}

.floatCard .icon-button img {
  position: absolute;
  left: 18%;
}

@media screen and (max-width: 1006px) {
  .floatCard {
    width: 100%;
    max-width: 360px;
  }
}
