.ClientHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
  padding: 4vh 0 1vh;
  gap: 2vh;
  background-color: var(--header-background-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ClientHeader p, .ClientHeader select {
  color: #fff;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.ClientHeader button {
  border: none;
  background: none;
  cursor: pointer;
}

.ClientHeader #header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

#header-top #fictitious-logo {
  padding: 2vh 2vw;
  border: 1px dashed #fff;
  color: #fff;
}

#header-top #flex-end {
  margin-top: 5vh;
  padding-top: 1.5vh;
  display: flex;
  gap: 1vw;
}

#header-top .notification-button {
  height: 30px;
}

#header-top .exit-button {
  font-size: 1rem;
  font-weight: 600;
  font-family: var(--secondary-font);
}

#header-top .button-icon {
  height: 100%;
}

.ClientHeader hr {
  width: 85%;
}

#header-center {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

#header-center .welcome {
  font-size: 1.4rem;
  font-family: var(--secondary-font);
  font-weight: 700;
  line-height: 2rem;
}

#header-center .credential {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

#header-center #header-right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 2vh;
}

#header-right select {
  border: none;
  background: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: var(--secondary-font);
  cursor: pointer;
}

#header-bottom {
  display: flex;
  align-items: center;
  width: 85%;
  gap: 1vw;
}

.flex-end {
  justify-content: end;
}

.ClientHeader .flex-end {
  margin-right: 4vw;
}

#header-bottom .raised-button {
  padding: 1vh 3vw;
  border-radius: 4px;
  background-color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
}

#header-bottom .icon-button {
  height: 2rem;
}

#header-bottom .icon-button img {
  height: 100%;
}
