.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 1rem 0;
  position: relative;
}

.Footer #contact {
  display: flex;
  width: 5rem;
  position: absolute;
  right: 80vw;
}

.Footer #contact img {
  width: 100%;
  height: 100%;
}

.Footer #contact ul {
  list-style: none;
  margin-left: 1.25rem;
  font-weight: 500;
}

.Footer #sac {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 4rem;
  position: absolute;
  right: 14vw;
  bottom: 8vh;
  gap: 2vh;
  color: #0B99C9;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.Footer #sac p {
  cursor: pointer;
}

.Footer #sac img {
  height: 100%;
  cursor: pointer;
}
